* {
    margin: 1px;
    padding: 1px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    color: rgb(204, 204, 204);
}

.static {
    position: fixed;
    font-size: small;
}

.highlight {
    font-weight: bold;
    color: rgb(122, 200, 255);
}

.selected {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

#mainContainer {
    display: grid;
    grid-template-columns: repeat();
}

#infoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.infoItem {
    width: 50%;
}

#currentMoney {
    border-width: 0;
    font-size: x-large;
}

.itemListing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(73, 73, 73);
    padding: 2px;
    border: 2px;
    margin: 20px;
    font-size: large;
    border-radius: 10px;
    transition: all 0.25s;
}

.itemListing:hover {
    background-color: rgb(61, 61, 61);
}